{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static "decide/css/visualizer/not_tally.css"%}"/>
    <div class="content">
        <h4>{{ voting.name }}</h4>
        <h5>{{ voting.desc }}</h5>
        <br>
        <div class="col s12 m5">
            <div class="card-panel  teal darken-1">
              <span class="white-text">
                  <p class="white-text">{% trans "Votes have not been counted yet. Please try again later" %}</p>
              </span>
            </div>
          </div>
    </div>

{% endblock %}