{% extends "base.html" %}
{% load i18n static %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="{% static "decide/css/visualizer/ongoing.css"%}"/>
{% endblock %}
{% block content %}

    <div id="cabecera-votacion">
        <h4>{{voting.name}}</h4>
        <h5>{{voting.desc}}</h5>
        <br>
        <p>{% trans 'In Progress' %}</p>
    </div>

    <div id="estadisticas-votacion" class="row">
        <div class="col m6 s12">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title">{% trans 'Stats' %}</span>
                    
                    <div class="row">
                         <div id="info-texto-left" class="col s6">
                            <p class="white-text">{% trans 'Census Size:' %}</p>
                            <p class="white-text">{% trans 'Voters Turnout:' %}</p>
                            <p class="white-text">{% trans 'Participation:' %}</p>
                         </div>
                        <div id="info-texto-right" class="col s3">
                            <p class="white-text">{{stats_census_size}}</p>
                            <p class="white-text">{{stats_voters_turnout}}</p>
                            <p class="white-text">{{stats_participation_ratio}}%</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="card teal lighten-2">
              <div class="card-content">
                <p class="white-text">{% trans "Interested in the participation according to genders? Check it out!" %}</p>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width tabs-transparent">
                    <li class="tab"><a href="#women-participation">{% trans "Women" %}</a></li>
                    <li class="tab"><a class="active" href="#nonbinary-participation">{% trans "Non-Binary" %}</a></li>
                    <li class="tab"><a href="#men-participation">{% trans "Men" %}</a></li>
              </div>
              <div class="card-content teal lighten-5 centered-text">
                <div id="women-participation">{{stats_women_participation}} {% trans "women voted" %} - {{stats_women_percentage}}% {% trans "of the total" %}</div>
                <div id="nonbinary-participation">{{stats_nonbinary_participation}} {% trans "non-binary voted" %} - {{stats_nonbinary_percentage}}% {% trans "of the total" %}</div>
                <div id="men-participation">{{stats_men_participation}} {% trans "men voted" %} - {{stats_men_percentage}}% {% trans "of the total" %}</div>
              </div>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="collection">
                {% for rango, cantidad in stats_voters_age_dist.items %}
                     <a href="#!" class="collection-item"><span class="badge">{{ cantidad }}%</span>{{rango.0 }} {% trans "to" %} {{ rango.1 }} {% trans "years old" %}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col m6 s12">
            <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                <i class="material-icons">question_answer</i>
                    {% trans "The average age of people who voted is..." %}
                <span class="new badge" data-badge-caption="quiz"></span></div>
                <div class="collapsible-body">
                    {% if stats_voters_age_mean %}
                        <p>{{stats_voters_age_mean}} {% trans "years old" %}</p>
                    {% else %}
                        <p>{% trans "Nobody has voted yet :(" %}</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                <i class="material-icons">question_answer</i>
                    {% trans "The average age of people who didn't vote is..." %}
                <span class="new badge" data-badge-caption="quiz"></span></div>
                <div class="collapsible-body">
                    {% if stats_no_voters_age_mean %}
                        <p>{{stats_no_voters_age_mean}} {% trans "years old" %}</p>
                    {% else %}
                        <p>{% trans "Everyone has voted already :)" %}</p>
                    {% endif %}
                </div>
            </li>
            </ul>
            <div class="centered-text">
                <p>{% trans "Download results as" %} <a href="pdf/" target="_blank">.pdf</a> 
                <a href="csv/" target="_blank">.csv</a> 
                <a href="json/" target="_blank">.json</a> 
                <a href="xml/" target="_blank">.xml</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
