{% extends 'base.html' %}
{% load i18n static %}
{% load custom_tags %}
{% block title %}{% trans 'Creation of censuses using filters' %}{% endblock %}

{% block content %}

 <div class="container">
  <nav>
    <div class="nav-wrapper row teal darken-3">
      <div class="col s12">
        <div class="col s12"><a href="/" class="breadcrumb">{% trans 'Home' %}</a>
        <a href="{% url 'listCensus' %}" class="breadcrumb">{% trans 'Census'%}</a>
            <a href="" class="breadcrumb">{% trans "Create custom census" %}</a>
      </div>
      </div>
    </div>
  </nav>

    <div>
        <h4>{% trans 'Adding voters on a vote' %}</h4>

        <div>
            <form action="{% url 'addCustomCensus' %}" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label>{% trans 'Select voting' %}</label>{{ form.voting }}</td>
                    </tr>
                </table>
                <h5>{% trans 'Filtering' %}</h5>
                <table>
                    <tr>
                        <td colspan="2"><label>{% trans 'Sex' %}</label>{{ form.sex }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label>{% trans 'City' %}</label>{{ form.city }}</td>
                    </tr>
                    <tr>
                    <div class="datepicker">
                        <td><label>{% trans 'Initial age' %}</label>{{ form.age_initial_range }}</td>
                    </div>
                    <div class="datepicker">
                        <td><label>{% trans 'Final age' %}</label>{{ form.age_final_range }}</td>
                    </div>
                    </tr>
                </table>
                <br/>
                <button class="btn waves-effect waves-light" type="submit" value="Submit">{% trans "Create census" %}<i class="material-icons right">send</i></button>
            </form>
            <br/><br/>
        </div>

    </div>
</div>    

{% endblock %}