{% extends 'base.html' %}
{% load i18n static %}
{% load custom_tags %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="{% static "decide/css/census/main_index.css"%}"/>
{% endblock %}
{% block content %}


  <div class="container">
  <nav>
    <div class="nav-wrapper row teal darken-3">
      <div class="col s12">
        <div class="col s12"><a href="/" class="breadcrumb">{% trans 'Home' %}</a>
        <a href="{% url 'listCensus' %}" class="breadcrumb">{% trans 'Census'%}</a>
      </div>
      </div>
    </div>
  </nav>

{% for message in messages %}
    {% if forloop.counter == 1 %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
         </div>
    {% endif %}
{% endfor %}



<br/>
<div class="row"> 
<a id="add_simple" href="{% url 'passVotings' %}" class="waves-effect waves-light btn">{% trans 'Add census with filters' %}</a>
<a id="add_custom" href="{% url 'addCustomCensus' %}" class="waves-effect waves-light btn">{% trans 'Add custom census' %}</a>
<button id="export" onclick="window.location='{% url 'exportCSV' %}'"
  title="Exportar CSV" class="waves-effect waves-dark btn">
  {% trans 'Export all' %}</button>
  <a id="import" href="{% url 'importCSVView' %}" class="waves-effect waves-light btn">{% trans 'Import all' %}</a>

</div>  

{% if census %}

<div id="censusTable>">

<table class="centered">
        <thead>
          <tr>
              <th>{% trans 'Voting' %}</th>
              <th>{% trans 'Voters' %}</th>
              <th>{% trans 'Edit' %}</th>
              <th>{% trans 'Delete' %}</th>
          </tr>
        </thead>
        <tbody>


        {% for cens in census %}
        <tr>
        
        <td>{% for voting in votings %}

            {% if voting.id == cens.voting_id %}            
              {{ voting.id }} - {{ voting.name }}
            {% endif %}
            {% endfor %}
            </td>
        <td>{% for voter in voters %}  

            {% if voter.id == cens.voter_id %}
              <a href="{% url 'viewVoters' %}?voting_id={{ cens.voting_id }}"> {{ voter.email }}</a>
            {% endif %}
            {% endfor %} 

            </td>
        <td><a href="{% url 'editCensus' %}?id={{ cens.id }}" class="waves-effect waves-light btn">{% trans 'Edit census' %}</a></td>
        <td><a href="{% url 'deleteCensus' %}?id={{ cens.id }}" class="waves-effect waves-light btn">{% trans 'Delete census' %}</a></td>
        </tr>

        {% endfor %}

          
        </tbody>
      </table>
</div>
{% else %}

<h4><div id=nocensus">{% trans 'No census to show' %}</div></h4>

{% endif %}
</div>
{% endblock %}
